.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout h1 {
  margin-bottom: 40px;
  background: linear-gradient(
    180deg,
    rgba(255, 98, 171, 0) 50%,
    rgb(255, 68, 68) 1%
  );
}

.checkout button {
  margin-bottom: 40px;
}

.StripeElement {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 500px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 20px;
  text-transform: uppercase;
}

#cardNumber {
  padding: 10px;
  border: 1px solid black;
}

.error {
  text-align: center;
  background-color: #fed6dc;
  color: rgb(235, 5, 5);
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.success {
  text-align: center;
  background-color: #b9fbc0;
  color: green;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 550px) {
  .checkout {
    min-width: 300px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
  }

  .StripeElement {
    width: 200px;
  }
}
