.landing {
  background-color: rgb(249, 62, 62);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.color-1 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform-origin: top;
  will-change: transform;
}

.landing h1 {
  font-size: 5rem;
  color: black;
  z-index: 2;
}

.landing button {
  background-color: black;
  border: none;
  width: 220px;
  padding: 20px;
  color: white;
}
