.movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  width: 100vw;
}

.movies-items {
  height: 90%;
  width: 90%;
  padding: 20px;
  /* background-color: green; */
  display: grid;
  grid-row-gap: 2vw;
  grid-column-gap: 2vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

@media (max-width: 1440px) {
  .movies-items {
    height: 90%;
    width: 90%;
    /* background-color: blue; */
    gap: 2vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 1240px) {
  .movies-items {
    height: 90%;
    width: 90%;
    /* background-color: blue; */
    gap: 4vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .movies-items {
    height: 90%;
    width: 90%;
    /* background-color: blue; */
    gap: 4vw;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
  }
}
