.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story-content h1 {
  margin-bottom: 100px;
}

.story-content {
  width: 80%;
}

.story p {
  text-align: justify;
  line-height: 2rem;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .story-content {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
}
